#booking {
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 1364px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.booking-form {
    background-color: #FAF8EC;
    max-width: 666px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 3rem;
    border-radius: 7px;
    color: var(--secondary-color);
    margin: 2rem;
}

#booking-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#form-row {
    display: flex;
    gap: 2rem;
    width: 100%;
}

#form-row .input-group {
    flex: 1;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-input.error {
    border: 2px solid rgb(227, 46, 46);

}

.form-input {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
}

textarea.form-input {
    height: 150px;
    resize: none;

}

button {
    width: 156px;
}

.input-group:has(input:required) label::after {
    content: " *";
    color: firebrick;
}

.input-group:has(textarea:required) label::after {
    content: " *";
    color: firebrick;
}

input::placeholder {
    color: var(--accent-color);

}

textarea::placeholder {
    color: var(--accent-color);
    font-family: Inter, sans-serif;
    font-size: 16px;

}