.btn {
    background-color: var(--accent-color);
    padding: 1rem;
    color: var(--secondary-color);
    border-radius: 5px;
    font-size: 15px;
    width: 140px;
    border: 3px solid grey;

    &:hover {
        cursor: pointer;
        background-color: goldenrod;

    }
    
}