.btn {
    background-color: var(--accent-color);
    padding: 1rem;
    color: var(--secondary-bg-color);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    width: 140px;

    &:hover {
        cursor: pointer;
        background-color: goldenrod;

    }
    
}