#banner {
    background-color: #12372ad0;
    color:  var(--primary-color);

}

.banner-btn {
    background-color: var(--accent-color);
}

#banner-wrapper {
    text-align: center;
    padding: 5rem;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
