.blog-card {
    background-color: var(--secondary-bg-color);
    padding: 2rem;
    color: var(--primary-color);
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
        color: var(--accent-color);
        text-decoration: none;
    }
}       

.blog-content {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.blog-card:hover {
    background-color: #def2d3;
    color: var(--secondary-color);
}

.date-wrapper {
    display: flex;
    gap: 1rem;

    svg {
        height: 25px;
        width: 25px;
    }
}


