#FAQ {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}

.H3 {
    margin: 0;
}

button {
    width: 25px;
    border: none;
    cursor: pointer;
}


#accordion-container {
    
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ECECEC;
    width: 100%;
    text-align: left;
    font-weight: 600;
    color: var(--secondary-color);
    padding: 1.2rem 2rem;

}

.faq-card {
    width: 100%;
}

.accordion:hover{
    background-color: var(--accent-color);
}
