#FindUs {
    background-color: #12372ae0;
    color: var(--secondary-color);
}

.H3 {
    margin: 2rem;
    padding: 1rem;
}

#find-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 1364px;
}

#find {
    background-color: rgb(131, 156, 131);
    width: 40%;
    padding: 5rem;
    
}

p{
    font-size: 18px;
}

.find-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
 
}

.find-icon svg {
    height: 45px;
    width: 45px;
    background-color: #12372ae0;
    padding: 1rem;
    border-radius: 50px;
    color: var(--accent-color);
        
}

