.contact-form {
  background-color: #FAF8EC;
  max-width: 666px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 7px;
  color: var(--secondary-color);
  margin: 2rem;
}

#form-row {
  display: flex;
  gap: 2rem; 
  width: 100%;
}

#form-row .input-group {
  flex: 1; 
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-input.error {
  border: 2px solid rgb(227, 46, 46);

}

.form-input {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
}

textarea.form-input {
  height: 150px;
  resize: none;
  
}

button {
    width: 156px;
}

.input-group:has(input:required) label::after {
    content: " *";
    color: firebrick;
}

.input-group:has(textarea:required) label::after {
    content: " *";
    color: firebrick;
}

input::placeholder {
    color: var(--accent-color);

}

textarea::placeholder {
    color: var(--accent-color);
    font-family: Inter, sans-serif;
    font-size: 16px;
    
}

#submit-message {
  background-color: #FAF8EC;
  max-width: 666px;
  padding: 10rem 3rem;
  border-radius: 7px;
  color: var(--secondary-color);
  margin: 5rem;
  background-color:  #FAF8EC;
  text-align: center;

  p {
    margin: 3rem;
  }

  h2 {
    margin: 3rem;
  }
}

#form-btn {
   background-color: rgb(42, 52, 50);
    padding: 1rem;
    color: var(--primary-color);
    border-radius: 5px;
    font-size: 15px;
    width: 140px;

    &:hover {
        cursor: pointer;
        background-color: var(--secondary-bg-color);
        

    }

}
