#GetInTouch {
    margin: auto;
    width: 1364px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-bottom: 5rem;
    }

    .H4 {
        color: var(--accent-color);
        margin: 2rem;
    }

    .H3 {
        margin: 1rem;
    }
    

}