#latest-blogs {
    max-width: 1400px;
    margin: auto;
    padding: 5rem;
}

#blog-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;

}