#logo-banner {
    background-color: var(--color-3-bg-color);
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding-top: 50px;
    padding-bottom: 50px;

}

#logo-banner img {
    margin: 0;
}
