.card {
    background-color: var(--primary-bg-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 2rem;
}

.customer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
}

.avatar {
    border-radius: 50px;
} 