#testimonials {
    background: url('testimonials-bg.svg') center/cover no-repeat,
        #12372acc;
    background-blend-mode: multiply;
    padding: 7rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-bg-color);

}

.H3 {
    font-weight: bold;
}

#cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 3rem;
    margin: 5rem;

}