.card {
    background-color: var(--primary-bg-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 2rem;
  
}

.customer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.avatar {
    border-radius: 50px;
} 