#notes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.H3 {
    max-width: max-content;
    margin: 5rem;
    padding: 5rem;
}

.note {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0.5em;

    p {
        padding: 0.5rem;
    }
}

#WhyUs {
    height: 800px;
    background-color: #FAF8EC;
    padding: 5rem;
}

#whyus-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
    margin: auto;

}

#WhyUs-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 50%;
}