#hero {
    background-color: #12372ad3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #F1FFEA;
    height: 80%;
    padding: 50px;

    button:hover {
        background-color: rgb(255, 255, 255);
        color: var(--secondary-color);
    }

}

#hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 5rem;
}

.H4 {
    color: var(--accent-color);
}



