@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-bg-color: #FFFFFF;
  --secondary-bg-color: #12372A;
  --color-3-bg-color: #FAF8EC;
  --accent-color: #F1C30C;
  --primary-color: #FFFFFF;
  --secondary-color: #12372A;
  --font-h1: 80px;
  --font-h3: 52px;
  --font-h4: 25px;
  --font-h5: 24px;
  --font-h6: 20px;
}

.H1 { font-size: var(--font-h1); font-weight: bold; margin: 0; }
.H3 { font-size: var(--font-h3); }
.H4 { font-size: var(--font-h4); }
.H5 { font-size: var(--font-h5); }
.H6 { font-size: var(--font-h6); }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;

}

.container {
  /* display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  height: 100dvh; */
  max-width: 1920px;
  margin: auto;
}