:root {
  --primary-bg-color: #FFFFFF;
  --secondary-bg-color: #12372A;
  --color-3-bg-color: #FAF8EC;
  --accent-color: #F1C30C;
  --primary-color: #FFFFFF;
  --secondary-color: #12372A;
}

.H1 {
  font-size: 80px;
  margin: 0;
}

.H4 {
  font-size: 24px;
}

.H3 {
  font-size: 52px;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  padding: 1rem;

}

.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100dvh;
}