nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    height: 100px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
    
    a {
        text-decoration: none;
        color: var(--secondary-bg-color);
        transition: 0.5s ease-in-out;

        &.active {
            font-size: 20px;
            font-weight: 700;
        }
    }

    a:hover{
        font-size: 25px;
        
    }
}